 @import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Ubuntu&display=swap');

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 * {
   margin: 0;
   padding: 0;
 }

 html {
   scroll-behavior: smooth;
 }

 .wrapper {
   display: flex;
 }

 .dynamic-text {
   position: relative;
   margin-left: 0.8rem;
   overflow: hidden;
   line-height: 49px;
   height: 50px;
   color: red;
 }

 .dynamic-text li {
   position: relative;
   top: 0;
   animation: slide 12s steps(3) infinite;
 }

 @keyframes slide {
   100% {
     top: -150px;
   }
 }

 .dynamic-text li:after {
   content: "";
   left: 0px;
   height: 100%;
   width: 100%;
   background-color: #050816;
   border-left: 2px solid red;
   position: absolute;
   animation: typing 4s steps(16) infinite;
 }

 @keyframes typing {

   40%,
   60% {
     left: calc(100% + 10px);
   }

   100% {
     left: 0;
   }
 }
 /* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}